<div id="<%= dom_id purchase %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Store name:</strong>
    <%= purchase.store_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Billing amount:</strong>
    <%= purchase.billing_amount %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Partial amount:</strong>
    <%= purchase.partial_amount %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Purchase type:</strong>
    <%= purchase.purchase_type %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Purchase date:</strong>
    <%= purchase.purchase_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Store logo:</strong>
    <%= purchase.store_logo %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Verifi:</strong>
    <%= purchase.verifi_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Verifi metadata:</strong>
    <%= purchase.verifi_metadata %>
  </p>

</div>
